body {
    margin: 0;
    font-family: 'Lobster', cursive, sans-serif;
    background-color: #f8f8f8;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
  }

  .popup p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
  }